<!DOCTYPE html>
<html ng-app="system_app" >
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>{% block title %}MT Account System{% endblock %}</title>
    <!--[if lt IE 9]>
    <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--[endif]-->

    {#&#123;&#35;TODO: Remove after development of the project&#35;&#125;#}
    {% block stylesheets %}
        <link href="{{ asset('css/fonts/open_sans.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/app.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/vendor/angular-ui-grid/ui-grid.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/main.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/menu.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/panels.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/tabs.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/grid.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/form.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/stylesheets/login.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {#This is for production#}
    {#{% include "StasSystemBundle::stylesheets.html.twig" %}#}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <div id="header">
        <div ng-controller="MenuController">
            <div id="menu_button" slide-toggle="#sb"><a href="#"><i class="fa fa-bars fa-2x"></i></a></div>
        </div>
        <div class="logo"><a href="#">Mighty<span>Store</span></a></div>

        <div style="text-align:center">
            {#This will show until the scope is compiled and we realize there is no such variable as pageIsLoading#}
            <i class="fa fa-cog fa-spin" style="margin-top: 17px; margin-left: 10px; color: #fff;" ng-if="pageIsLoading"></i>
        </div>

        <ul class="user-corner">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="#">Username: {{ app.user.username }}</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        {% else %}
            {#<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>#}
        {% endif %}
        </ul>
    </div>

    <div id="container" ng-cloak>

        {#{% block body %}{% endblock %}#}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div ng-controller="MenuController">
                <div id="sb" class="sidebar">
                    {{ knp_menu_render('main') }}
                </div>
            </div>

            <div class="content" ng-controller="PanelsController">
                <div
                        id="id_main_panel"
                        class="panel main-panel"
                        ng-controller="SinglePanelController">

                    <div ng-init="loadPanelFromServer('/app_dev.php/welcome', 'id_main_panel')" ng-system-compile="id_main_panel"></div>

                    <div id="id_loading_panel_id_main_panel_spinner" ng-show="isid_main_panelLoading">
                        <span>
                            Loading...
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>
                </div>
            </div>
        {% else %}
            {#{% block body %}#}
                {#{% render controller("FOSUserBundle:Security:login") %}#}
            {#{% endblock %}#}
            {% block body %}{% endblock %}
            {#{% block fos_user_content %}#}
            {#{% endblock fos_user_content %}#}
        {% endif %}
    </div>

    <div id="footer" class="footer">
        {% block footer %}
            <span class="footer-left">Mt Account Bundle created by <a href="#">Stas Solodkin</a></span>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="footer-right">Account: {{ app.user.getContact.getAccount.getId }} Logged in: {{ app.user.getContact.getFirstName }} {{ app.user.getContact.getLastName }}</span>
            {% endif %}
        {% endblock %}
    </div>


    {#<script src="{{ asset('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') }}" type="text/javascript"></script>#}
    {#<script src="{{ asset('js/src/jquery-1.11.3.js') }}" type="text/javascript"></script>#}

    <script src="{{ asset('assets/vendor/angular/angular.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/angular-touch/angular-touch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/angular-animate/angular-animate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/angular-sanitize/angular-sanitize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/CSV-JS/csv.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/pdfmake/build/pdfmake.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/pdfmake/build/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/angular-ui-grid/ui-grid.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/angular-file-upload/dist/angular-file-upload.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/es5-shim/es5-shim.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/es5-shim/es5-sham.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js') }}" type="text/javascript"></script>

    {# These are the page element controllers#}
    <script src="{{ asset('js/src/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/src/menu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/src/grid.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/src/tabs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/src/panels.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/src/form/form.js') }}" type="text/javascript"></script>

    {#<script src="{{ asset('js/src/jquery-1.11.3.js') }}" type="text/javascript"></script>#}

    {# These are the form element controllers#}
    <script src="{{ asset('js/src/form/datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/src/form/fileupload.js') }}" type="text/javascript"></script>

    {#TODO: Replace the above with this block when done#}
    {#{% block javascripts %}#}
        {#{% include "StasSystemBundle::javascripts.html.twig" %}#}
    {#{% endblock %}#}
</body>
</html>