{% javascripts
    "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    "assets/vendor/bootstrap/dist/js/bootstrap.min.js"
    output='js/compiled/*'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts
    "js/src/main.js"
    "js/src/grid.js"
    "js/src/tabs.js"
    "js/src/panels.js"
output='js/compiled/*'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts

    "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"
    "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"
    "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"
    "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"
    "http://ui-grid.info/docs/grunt-scripts/csv.js"
    "http://ui-grid.info/docs/grunt-scripts/pdfmake.js"
    "http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"

    "assets/vendor/angular-ui-grid/ui-grid.min.js"
    "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"

    output='js/compiled/*'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
