{% extends app.request.xmlHttpRequest
? 'StasSystemBundle::alone.html.twig'
: 'StasSystemBundle::base.html.twig' %}

{#{% block sidebar_left %}#}
    {#<ul class="links-left">#}
		{#<li><a href="#">Top 10</a></li>#}
	{#</ul>#}
{#{% endblock %}#}
{#{% block sidebar_right %}#}
	{#right bar content#}
{#{% endblock %}#}
