{% stylesheets
    filter="compass"
    filter='?uglifycss'
    filter='cssrewrite'
    "css/scss/app.scss"
    "css/scss/main.scss"
    "css/scss/menu.scss"
    "css/scss/form.scss"
    "css/scss/grid.scss"
    "css/scss/panels.scss"
    "css/scss/tabs.scss"
    output='css/stylesheets/*.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% stylesheets
    "assets/vendor/angular-ui-grid/ui-grid.css"
    "assets/vendor/font-awesome/css/font-awesome.min.css"
    filter='cssrewrite'
    output='css/stylesheets/*.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% stylesheets
    "http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans+Condensed"
    "http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Titillium+Web"
    output='css/fonts/*'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
