<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>{% block title %}MT Account System{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Titillium+Web' rel='stylesheet' type='text/css'>
        <link href='http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans+Condensed' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="menu1">HomeDefault</a></li>
                        <li><a href="menu2">AboutDefault</a></li>
                        <li><a href="menu3">ContactDefault</a></li>
                    </ul>
                    <ul class="user-corner">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="#">Username: {{ app.user.username }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% else %}
                            {#<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>#}
                            {#<li><a href="{{ path('fos_user_registration_register') }}">Signup</a></li>#}
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block st_title %}<a href="#">Multi-Tier Account System</a>{% endblock %}</h2>
            <h3>{% block st_tagline %}<a href="#">Easy-Busy</a>{% endblock %}</h3>
        </hgroup>
    </header>
    <aside class="sidebar_left">
        {% block sidebar_left %}{% endblock %}
    </aside>
    <main class="main-col">
        {% block body %}{% endblock %}
    </main>
    <aside class="sidebar_right">
        {% block sidebar_right %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Mt Account Bundle created by <a href="#">Stas Solodkin</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>