{% extends 'StasSystemBundle::layout.html.twig' %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        I am in: {{ contact.getFirstName }}
    {% else %}
        {{ render(controller("StasUserBundle:Security:login")) }}
    {% endif %}
{% endblock %}