{#{% extends 'StasSystemBundle::layout.html.twig' %}#}

{#{% extends 'StasSystemBundle::base.html.twig' %}#}
{% extends 'StasSystemBundle::alone.html.twig' %}
{% block body %}
    {#{{ dump(test) }}#}
    {#{{ message|ladybug_dump }}#}
    {#{{ constant('Twig_Environment::VERSION') }}#}
    {{ message }}
{% endblock %}