
.file-list-header {
  font-size: 0.8em;
  font-weight: 700;
}

.file-list-right {
  display:inline;
  float: right;
}

.file-list-header-line {
  margin-top:3px;
  margin-bottom:5px;
}

.file-list-error {
  list-style:none;
  color:red; font-size: 0.8em;
}

.file-list-remove-icon {
  color:red; cursor: pointer;
}

.no-list-style {
  list-style: none;
}

.help-block {
  font-size: 0.7em;
}

.font-size-8 {
  font-size: 0.8em;
}

label {
  font-size: 0.9em;
}

input.custom-checkbox {
  display: block;
  height: 12px;
  margin: 0;
  margin-bottom: 18px;
}


.progress-bar-height {
  height:2px;
}

.border-radius-3 {
  border-radius:3px !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}






label.custom-choice {
  padding-left: 5px;
  font-size: 12px;
  font-weight: normal;
}

.choice-border {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px
}

.label.required:after {
  content:"*";
  color:red;
}