//@import "bourbon";
$borders-color:         #ccc !default;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  //-webkit-text-fill-color: white !important;
}

.vertical-offset-100{
  padding-top:100px;
}

.login_panel {
  padding: 0;
  box-shadow: 1px 1px 1px rgba(0, 100, 100, 0.5);
  border: 1px solid $borders-color;
  border-radius: 2px;
}