//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic);

$header-bg-color:       #34495e !default;
$header-fg-color:       #fff !default;

$header-height:         50px;
$footer-height:         20px;
$sidebar-width:         250px;
$menu-transition-time:  250ms;

$container-height:      100%;

$content-bg-color:      #ecf0f1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  //min-height: 100%;
}

body {
  font-family: 'Open Sans';
  //background-color: $content-bg-color;
  //margin: 0 0 $footer-height;
}

a {
  text-decoration: none;
}

div#header {
  width: 100%;
  height: 50px;
  background-color: $header-bg-color;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 12px;
  margin-left: 15px;
  display: inline;
}

.logo a {
  font-size: 1.3em;
  color: $header-fg-color;
}

.logo a span {
  font-weight: 300;
}

#header ul.user-corner {
  list-style: none;
  text-align: right;
  float:right;
  padding-top: 12px;
}

#header .user-corner li {
  display: inline;
}

#header .user-corner li a {
  color: $header-fg-color;
  font-size: 0.8em;
  padding-right: 20px;
  font-weight: 200;
}

div#container {
  //min-height: calc(#{$container-height} - #{$header-height});
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  width: 100%;
}

.sidebar {
  //width: $sidebar-width;
  //height: 100%;
  background-color: #fff;

  padding-bottom: 0;

  overflow: hidden;
  transitionDuration: $menu-transition-time;
  transitionTimingFunction: ease-in-out;
}

.content {
  width: auto;
  //height: 100%;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  //margin-left: $sidebar-width;
  margin-left: 0;
  background-color: $content-bg-color;
  padding: 15px;

  overflow:auto;
  padding-bottom: $footer-height;
}

.footer {
  z-index: 2;
}

.content p {
  color: #424242;
  font-size: 0.73em;
}

div#box {
  margin-top: 15px;
}

div#box .box-top {
  color: #fff;
  text-shadow: 0px 1px #000;
  background-color: #2980b9;
  padding: 5px;
  padding-left: 15px;
  font-weight: 300;
}

div#box .box-panel {
  padding: 15px;
  background-color: #fff;
  color: #333
}


a.mobile {
  display: block;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 7px;
}

a.mobile:hover {
  background-color: #4a4a4a;
}

div#footer {

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;

  //height: $footer-height;
  background-color: $header-bg-color;
  color: $header-fg-color;
  //margin-top: -$footer-height; /* negative value of footer height */
  //clear:both;
}

div#footer span {
  font-size: 0.8em;
  margin-top: 2px;
}

div#footer span.footer-left {
  float: left;
  margin-left: 10px;
}

div#footer span.footer-center {
  text-align: center;
  margin-right: 10px;
}

div#footer span.footer-right {
  float: right;
  margin-right: 10px;
}

div#footer a {
  color: $header-fg-color;
}

@media
only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px) {
//@media only screen and (max-width: 375px) {

  ul#nav li {
    //align-self: center;
  }

  ul#nav li a {
    //text-align: center;
  }

  #container {
    width: auto;
  }

  .content {
    margin-left: 0;
    width: auto;
    display: block;
    clear: both;
  }

  .sidebar {
    height: 0;
    width: 100vh;
    transition-property: height;
  }
}

@media
only screen and (min-width: 1025px),
only screen and (min-device-width: 1025px) {

  .sidebar {
    //height: 100%;
    width: $sidebar-width;
    float: left;
    transition-property: width;
  }
}

