$menu-item-color:       #16a085;
$caret-size:            4px;

div#menu_button {
  margin-left: 10px;
  padding-top: 10px;
  color: white;
  float:left
}

div#menu_button a {
  color: white;
}

ul#nav {
  margin-bottom: 0px;
}

ul#nav li {
  list-style: none;
}

ul#nav li a  {
  color: $menu-item-color !important;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ecf0f1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

//ul#nav li a i {
//  float:left;
//  display: inline;
//  //position: fixed;
//}
//
//ul#nav li a span {
//  float:left;
//  display: inline;
//  //position: fixed;
//}

ul#nav li a:hover {
  background-color: #ecf0f1;
}

ul#nav li.current {
  //background-color: #ecf0f1;
  //color: #fff !important;

  //background-color: #fff;
  color: #000 !important;
}

ul#nav li.current a {
  //background-color: #ecf0f1;
  //color: #fff !important;

  //background-color: #fff;
  color: #8e44ad !important;
}

.sub-menu {
  //display:none;
}

// Caret
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   $caret-size dashed;
  border-top:   $caret-size solid \9; // IE8
  border-right: $caret-size solid transparent;
  border-left:  $caret-size solid transparent;
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left:   $caret-size dashed;
  border-left:   $caret-size solid \9; // IE8
  border-top: $caret-size solid transparent;
  border-bottom:  $caret-size solid transparent;
}