//$borders-color:         #34495e !default;
$borders-color:         #ccc !default;

ul.panels {
  list-style: none;
  padding: 5px;
  margin: 0;
}

li.panel {
  float: none;
  //border: 1px solid $borders-color;
  margin: 5px 0px 5px 0px;
  padding: 20px 20px 20px 20px !important;
  border-radius: 2px;

}

li.panel a {
  color: $borders-color !important;
}

.panel {

  box-shadow: 1px 1px 1px rgba(0, 100, 100, 0.5);
  border: 1px solid $borders-color;
  width: auto;
  height: auto;
  clear: both;
  padding: 0 1em;
}