$borders-color:         #34495e !default;
$selected-tab-color:    #34495e !default;

ul.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.tab {
  float: left;
  border: 1px solid $borders-color;
  border-bottom-width: 0;
  margin: 0px -1px 0px 0px;
  padding: 5px 10px 0px 10px;
  border-top-right-radius: 9px;
  border-top-left-radius: 2px;

}

ul li.active {
  background-color: $selected-tab-color !important;
}

li.tab a {
  color: $selected-tab-color !important;
}

ul li.active a {
  color: #ffffff !important;
}

.tabs_content {
  border: 1px solid $borders-color;
  width: auto;
  height: auto;
  clear: both;
}

#id_loading_spinner {
  width: 300px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 30px;
  margin-bottom: 30px;

}