{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
			{% for error in errors %}
				<div class="form-error">{{ error.message }}</div>
			{% endfor %}
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}

{% block file_widget %}
	{% spaceless %}
		{#<td>{% set type = type|default('file') %}#}
		{#<input type="{{ type }}" class="custom-upload" {{ block('widget_attributes') }} />#}
		{#</td>#}


		{#{% set type = type|default('file') %}#}
		{#<div class="file-upload btn btn-info btn-sm">#}
		{#<span>Upload</span>#}
		{#<input type="{{ type }}" class="custom-upload" />#}
		{#</div>#}

        {#{% set currentPath = path(app.request.attributes.get('_route'),#}
        {#app.request.attributes.get('_route_params')) %}#}

        {#{{ dump(currentPath) }}#}
        {#{{ dump(form.vars.attr['fileuploadurl'] ) }}#}
        {% set uploadPath = app.environment == 'dev' ? "/app_dev.php/fileupload" : "/fileupload" %}

		<div ng-controller="FileUploadController">

                {% set initFunction = "initElement(\"" ~ form.vars.name ~ "\")" %}
                <input
                    type="hidden"
                    ng-init="{{ initFunction }}"
                    name="formData.{{ form.vars.name }}"
                    class="form-control input-sm"
                    ng-model="formData.{{ form.vars.name }}">

			<span class="help-block">
					Click 'Add File' to add a file to the list
			</span>


            {#File List #}
            <span class="file-list-header">Name</span>
            <span class="file-list-header file-list-right" >Size</span>
            <hr class="file-list-header-line"/>

			<ul>
			<li class="no-list-style" ng-repeat="item in uploader.queue">
                {#{% set fileName = "item.file.name" %}#}
			    <span class="font-size-8" ng-bind="item.file.name"></span>
                <span class="file-list-right font-size-8" ng-bind="formatSize(item.file.size, true)"></span>
                {#<i class="file-list-remove-icon glyphicon glyphicon-remove" ng-click="removeItem(item)"></i>#}

                    <ul>
                        <li class="no-list-style" ng-repeat="error in uploadErrors[item.file.name]">
                            <span class="file-list-error" ng-bind="error"></span>
                        </li>
                    </ul>

                    {#progressBar#}
                    {#{% set barName = "formatFileName( item.file.name )" %}#}
                    {#{% set typeName = "'progressType_" ~  form.vars.name ~ "_' + " ~ barName %}#}
                    {#{% set readyValue = "{[{" ~ typeName ~ "}]}" %}#}

                {#<br>#}
                {#NON READY#}
                {#<br>#}
                    {#{{ dump(typeName) }}#}
                {#<br>#}
                {#READY#}
                {#<br>#}
                    {#{{ dump(readyValue) }}#}
                    <uib-progressbar
                                class="progress-striped active progress-bar-height"
                                value="item.progress"
                                type="success"
                                {#type="[[{{ readyValue }}]]"#}
                                {#type="{[{opa}]}"#}
                                {#ng-init="initItem(item)"#}
                            >
                    </uib-progressbar>
                </li>
			</ul>

            <div class="input-group">
				<span class="input-group-btn">
                    <span class="btn btn-info btn-file btn-sm border-radius-3">
						Add File <input type="file" nv-file-select uploader="uploader" options="{url: '{{ uploadPath  }}'}">
                    </span>
				</span>
            </div>

            {#<button class="btn btn-warning btn-xm" ng-click="uploadAllItems()">Upload All</button>#}
		</div>

	{% endspaceless %}
{% endblock file_widget %}

{% block date_widget %}
	{% spaceless %}
		<div ng-controller="DatepickerCtrl">
			<div class="input-group">

				{% if value is not empty %}
					{% set initFunction =   "setDate(\"" ~ form.vars.name ~ "\", " ~
											attr['data-minimum-date'] ~
											", " ~ attr['data-maximum-date'] ~
											", " ~ value.year ~
											", " ~ value.month ~
											", " ~ value.day ~ ")"%}
				{% endif %}
				<input
						type="text"
						class="form-control input-sm"
						{{ block('widget_attributes') }}
						ng-model="formData.{{ form.vars.name }}"
						{% if value is not empty %}
							ng-init="{{ initFunction }}"
						{% else %}
							ng-init="setDateRange( {{ attr['data-minimum-date'] }}, {{ attr['data-maximum-date'] }} )"
						{% endif %}
						is-open="status.opened"
						min-date="minDate"
						max-date="maxDate"
						datepicker-options="dateOptions"
						close-text="Close"
				/>

				<span
					class="input-group-btn">
					<button
							type="button"
							class="btn btn-success btn-sm"
							ng-click="open($event)"
					>
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
	{% endspaceless %}
{% endblock date_widget %}

{%- block text_widget -%}
	{{ form_widget(form, {'attr': { 'class': 'form-control input-sm',
									'ng-model': 'formData.' ~ form.vars.name, 'ng-init':"setValue(\"" ~ form.vars.name ~ "\", \"" ~ form.vars.value ~ "\")"
									}}) }}
{%- endblock text_widget -%}

{%- block textarea_widget -%}
	<textarea {{ block('widget_attributes') }}
									class="form-control input-sm"
									ng-model="{{ 'formData.' ~ form.vars.name }}"
									ng-init="setValue('{{ form.vars.name }}', '{{ form.vars.value }}')"
			>
	</textarea>
{%- endblock textarea_widget -%}

{%- block integer_widget -%}
	{%- set type = type|default('number') -%}
	<input
				type="{{ type }}" {{ block('widget_attributes') }}
				class="form-control input-sm"

				ng-model="{{ 'formData.' ~ form.vars.name }}"
				ng-init="setValue('{{ form.vars.name }}', {{ form.vars.value }})"
			/>
{%- endblock integer_widget -%}

{%- block number_widget -%}
	{%- set type = type|default('number') -%}
	<input
			type="text" {{ block('widget_attributes') }}
			class="form-control input-sm"

			ng-model="{{ 'formData.' ~ form.vars.name }}"
			ng-init="setValue('{{ form.vars.name }}', {{ form.vars.value }})"
		/>
{%- endblock number_widget -%}

{%- block money_widget -%}

    {%- set type = type|default('number') -%}
    <input
            type="{{ type }}" {{ block('widget_attributes') }}
            pattern="\d*(\.\d{1,2})?"
            step="0.000000001"
            class="form-control input-sm"
            {% if value is not empty %}
        value="{{ value }}"
            {% endif %}/>
{%- endblock money_widget -%}

{% block moneywithtax_widget %}

    <br>

    {{ form_label(form.children['amount_no_tax']) }}

    <input
            type="text" {{ block('widget_attributes') }}
            pattern="\d*(\.\d{1,2})?"
            step="0.000000001"
            class="form-control input-sm"
            ng-model="formData.{{ form.vars.name }}.money_no_tax"
            ng-init="formData.{{ form.vars.name }}.money_no_tax={{ form.vars.value.getExTaxAmount }}"
            />

    {{ form_label(form.children['amount_inc_tax']) }}

    <input
            type="text" {{ block('widget_attributes') }}
            pattern="\d*(\.\d{1,2})?"
            step="0.000000001"
            class="form-control input-sm"
            ng-model="formData.{{ form.vars.name }}.money_inc_tax"
            ng-init="formData.{{ form.vars.name }}.money_inc_tax={{ form.vars.value.getIncTaxAmount }}"
            />

    {{ form_label(form.children['tax']) }}

    {% set tax_field = 1 %}

    {%- set form = form.children['tax'] -%}
    {%- set required = form.vars.required -%}
    {%- set placeholder = form.vars.placeholder -%}
    {%- set multiple = form.vars.multiple -%}
    {%- set value = form.vars.value -%}
    {%- set choices = form.vars.choices -%}
    {%- set preferred_choices = form.vars.preferred_choices -%}
    {%- set placeholder_in_choices = form.vars.placeholder_in_choices -%}
    {%- set translation_domain = form.vars.translation_domain -%}
    {%- set choice_translation_domain = form.vars.choice_translation_domain -%}

    {{ block('choice_widget_collapsed') }}

{% endblock moneywithtax_widget %}

{#{%- block money_label -%}#}
	{#{{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}#}
{#{%- endblock money_label -%}#}




{#{%- block tax_widget -%}#}

	{#<input type="select" name="form[tax]" pattern="^\d*(\.\d{1,2}$)?" step="0.000000001" class="form-control input-sm" {% if value is not empty %}value="{{ value }}" {% endif %}/>#}

{#{%- endblock tax_widget -%}#}



{# Dropdown list and multiselect box #}
{%- block choice_widget_collapsed -%}

	{%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
		{% set required = false %}
	{%- endif -%}

    {% if tax_field is defined %}
	    {%  set fieldName = form.parent.vars.name ~ "." ~ form.vars.name %}
    {% else %}
        {%  set fieldName = form.vars.name %}
    {% endif %}
	{%  set dataIdentifier = "formData." ~ fieldName %}

	{% set selected = [] %}
	{% for g_label, choice in choices %}
		{% if choice is selectedchoice(value) %}
			{% if value is iterable %}
				{% set selected = selected|merge(value) %}
			{% else %}
				{% set selected = selected|merge([value]) %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% set initFunction = "initChoiceBoxes(\"" ~ multiple ~ "\", \"" ~  fieldName ~ "\", \"" ~ selected|join(",") ~ "\")"%}

	<select class="form-control input-sm"
			{{ block('widget_attributes') }}
			ng-init="{{ initFunction }}"
			ng-model="{{ dataIdentifier }}"
			{% if multiple %}
				multiple="multiple"
			{% endif %}>
		{%- if placeholder is not none -%}
			<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
		{%- endif -%}
		{%- if preferred_choices|length > 0 -%}
			{% set options = preferred_choices %}
			{{- block('choice_widget_options') -}}
			{%- if choices|length > 0 and separator is not none -%}
				<option disabled="disabled">{{ separator }}</option>
			{%- endif -%}
		{%- endif -%}
		{%- set options = choices -%}
		{#{{ dump(dataIdentifier) }}#}
		{{- block('choice_widget_options') -}}
	</select>
{%- endblock choice_widget_collapsed -%}

{# Options for the dropdwn and multiselect box #}
{%- block choice_widget_options -%}
	{% for group_label, choice in options %}
		{%- if choice is iterable -%}
			<optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
				{% set options = choice %}
				{{- block('choice_widget_options') -}}
			</optgroup>
		{%- else -%}
			{% set attr = choice.attr %}
			<option
					value="{{ choice.value }}"
					{{ block('attributes') }}
					{% if choice is selectedchoice(value) %}
						{#{% if multiple %}#}
							{#&#123;&#35;{% set dataIdentifier = dataIdentifier|merge([value]) %}&#35;&#125;#}
						{#{% else %}#}
							{#&#123;&#35;{% set dataIdentifier = value %}&#35;&#125;#}
						{#{% endif %}#}
						selected="selected"
					{% endif %}
					>
				{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
			</option>
		{%- endif -%}
	{% endfor %}
{%- endblock choice_widget_options -%}


{%- block choice_widget_expanded -%}

	{% set selected = [] %}
	{% for child in form %}
		{% if child.vars.checked is same as(true) %}
			{% set selected = selected|merge([child.vars.value]) %}
		{% endif %}
	{% endfor %}

	{% if form.vars.attr.radioset is defined %}
		<div {{ block('widget_container_attributes') }}>
			<div class="choice-border" ng-init="formData.{{ form.vars.name }}={{ selected|join(" ") }}">
				{%- for child in form %}

					{% if 'placeholder' in child.vars.id %}
						{% set myValue = '0' %}
					{% else %}
						{% set myValue = child.vars.value %}
					{% endif %}
					<div style="display:block;">
						{#{{- form_widget(child,  {'attr': {#}
														 {#'ng-model':   'formData.' ~ form.vars.name#}
													{#}})#}
						{#-}}#}

						{% set ngModelString = 'formData.' ~ form.vars.name %}
						<input type="radio"
							{{ block('widget_attributes') }}
							{% if myValue is defined %}
								value="{{ myValue }}"
							{% endif %}
							{% if child.vars.checked %}
								checked="checked"
							{% endif %}
							ng-model="{{ ngModelString }}"
						/>

						{{- form_label(child, null, { translation_domain: choice_translation_domain, 'label_attr': {'class': 'custom-choice'}}) -}}
					</div>
				{% endfor -%}
			</div>
		</div>

	{% elseif form.vars.attr.checkboxset is defined %}

		{#This is for checkboxes#}
		<div {{ block('widget_container_attributes') }}>
			{% set initFunction = "initCheckBoxes(\"" ~  form.vars.name ~ "\",\"" ~ selected|join(",") ~ "\")" %}

			<div class="choice-border" ng-init="{{ initFunction }}">
				{%- for child in form %}
					{% if 'placeholder' in child.vars.id %}
						{% set myValue = '0' %}
					{% else %}
						{% set myValue = child.vars.value %}
					{% endif %}

					{#{{- block('checkbox_widget') -}}#}
					{% set ngModelString = "formData." ~ form.vars.name ~ '.id_' ~ myValue %}
					<div style="display:block;">
						{#{{- form_widget(child,  {'attr': {'ng-model': 'formData.' ~ form.vars.name ~ '.id_' ~ myValue }}) -}}#}
						<input
							type="checkbox"
							{{ block('widget_attributes') }}
							{% if myValue is defined %}
								value="{{ myValue }}"
							{% endif %}
							{% if child.vars.checked %}
								checked="checked"
							{% endif %}
							ng-model="{{ ngModelString }}"
						/>

						{{- form_label(child, null, { translation_domain: choice_translation_domain, 'label_attr': {'class': 'custom-choice'}}) -}}
					</div>
				{% endfor -%}
			</div>
		</div>

	{% endif %}
{%- endblock choice_widget_expanded -%}

{% block checkbox_widget %}
	{% spaceless %}
		{% set ngModelString = "formData." ~ form.vars.name %}
		<input
			type="checkbox"
			{{ block('widget_attributes') }}
			ng-model="{{ ngModelString }}"
			{% if form.vars.value is defined %}
				value="{{ form.vars.value }}"
			{% endif %}
			{% if form.vars.checked %}
				ng-init="{{ ngModelString }}=true"
				checked="checked"
			{% else %}
				ng-init="{{ ngModelString }}=false"
			{% endif %}
		/>
	{% endspaceless %}
{% endblock checkbox_widget %}

{#{% block radio_widget %}#}
	{#{% spaceless %}#}
		{#{% set ngModelString = "formData." ~ form.vars.name %}#}
		{#<input#}
				{#type="checkbox"#}
				{#{{ block('widget_attributes') }}#}
				{#ng-model="{{ ngModelString }}"#}
				{#{% if form.vars.value is defined %}#}
					{#value="{{ form.vars.value }}"#}
				{#{% endif %}#}
				{#{% if form.vars.checked %}#}
					{#ng-init="{{ ngModelString }}=true"#}
					{#checked="checked"#}
				{#{% else %}#}
					{#ng-init="{{ ngModelString }}=false"#}
				{#{% endif %}#}

				{#/>#}
	{#{% endspaceless %}#}
{#{% endblock radio_widget %}#}

{% block column_widget %}
	{% spaceless %}

	{% endspaceless %}
{% endblock column_widget %}