{# src/Stas/SystemBundle/Resources/views/UIComponents/form.html.twig #}
{% extends 'StasSystemBundle::layout.html.twig' %}
{#{% form_theme form  'StasSystemBundle:UIComponents:form_fields.html.twig' %}#}
{% form_theme form  'StasSystemBundle:UIComponents:angular_form_fields.html.twig' %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% block body %}

    {#{{ dump() }}#}
    {#{{ dump(form) }}#}

    <legend><h2>{{ form_title }}</h2></legend>

    {% set numberOfColumns = 12/numberOfColumns %}
    {% set action = action is not empty ? action : app.request.getUri %}
    {#{% set submitTargetContainer = submitTargetContainer is not empty ? submitTargetContainer : 'main_panel' %}#}
    {% set submitFunction = 'processForm("' ~ action ~ '", "' ~ submitTargetContainer ~ '")' %}

    <div ng-controller="FormController">
        {{ form_start(form, {'attr': {'class': 'form-vertical', 'role': 'form', 'ng-submit': submitFunction }} ) }}
        {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-{{ numberOfColumns }}">
                    {% for child in form.children %}
                        {% if "Column_" in child.vars.name %}

                            </div>
                            <div class="col-md-{{ numberOfColumns }}">

                        {% elseif child.vars.name != "submit" and child.vars.name != "button" and child.vars.name != "_token" %}
                            {#{{ dump(child) }}#}
                            {#{{ dump(child.vars.value) }}#}
                            <div class="form-group">
                                {{ form_label(child) }}
                                {#{{ form_widget(child, {'attr': {'ng-model': 'formData.' ~ child.vars.name, 'ng-init':'setValue(\"formData.' ~ child.vars.name ~ '\", ' ~ child.vars.value|json_encode() ~ ')'}}) }}#}
                                {{ form_widget(child) }}
                                {{ form_errors(child, {'attr': {'class':    'form-error'}}) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <fieldset>
                    <div class="form-actions">
                        <div class="col-md-12">
                            {% for child in form.children %}

                                {% if child.vars.name == "submit" %}
                                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-sm'}} ) }}
                                {% elseif  child.vars.name == "button" %}
                                        {{ form_widget(form.button, {'attr': {'class': 'btn btn-info btn-sm'}} ) }}
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
            </div>
        {{form_end(form)}}
    </div>
{% endblock %}
