{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
			{% for error in errors %}
				<div class="form-error">{{ error.message }}</div>
			{% endfor %}
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}

{% block datetime_widget %}
    {% spaceless %}

{#<pre>#}
        {#{{ dump(value) }}#}
    {#<p>The current version is {{ constant('Twig_Environment::VERSION') }}</p>#}
    {#</pre>#}
        <div ng-controller="DatepickerCtrl">
                <div class="input-group">
                    {#{{ dump(value) }}#}

                    <input
                            type="text"
                            class="form-control input-sm"

                            {{ block('widget_attributes') }}

                            ng-model="dt"
                            {% if value is not empty %}
                            {#{% if value.date.year is not empty %}#}
                                ng-init="setDate( {{ attr['data-minimum-date'] }}, {{ attr['data-maximum-date'] }}, {{ value.date.year }}, {{ value.date.month }}, {{ value.date.day }}, {{ value.time.hour }}, {{ value.time.minute }} )"
                                {#ng-init="setDate( {{ attr['data-minimum-date'] }}, {{ attr['data-maximum-date'] }}, {{ value }} )"#}
                            {% else %}
                                ng-init="setDateRange( {{ attr['data-minimum-date'] }}, {{ attr['data-maximum-date'] }} )"
                            {% endif %}

                            is-open="status.opened"
                            min-date="minDate"
                            max-date="maxDate"
                            datepicker-options="dateOptions"
                            {#date-disabled="disabled(date, mode)"#}
                            {#ng-required="true"#}
                            close-text="Close"
                    />

                    <span
                        class="input-group-btn">
                        <button
                                type="button"
                                class="btn btn-success btn-sm"
                                ng-click="open($event)"
                        >
                            <i
                                class="glyphicon glyphicon-calendar"
                            >
                            </i>
                        </button>
                    </span>
                </div>

            {#<hr />#}
            {#<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>#}
            {#<button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>#}
            {#<button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>#}
            {#<button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>#}

        </div>
    {% endspaceless %}
{% endblock datetime_widget %}

{%- block text_widget -%}
    {{ form_widget(form, {'attr': {'class': 'form-control input-sm'}}) }}
{%- endblock text_widget -%}

{%- block textarea_widget -%}
    <textarea {{ block('widget_attributes') }} class="form-control input-sm">{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block integer_widget -%}
    {%- set type = type|default('number') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} class="form-control input-sm" {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock integer_widget -%}

{%- block number_widget -%}
    {%- set type = type|default('number') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} class="form-control input-sm" {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock number_widget -%}



{#{%- block money_label -%}#}
    {#{{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}#}
{#{%- endblock money_label -%}#}

{%- block money_widget -%}

    {%- set type = type|default('number') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} pattern="^\d*(\.\d{1,2}$)?" step="0.000000001" class="form-control input-sm" {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {#{% if attr['tax'] is defined %}#}
        {#&#123;&#35;{{ EXCL }}&#35;&#125;#}
        {#{{ block('tax_widget')  }}#}
    {#{% endif %}#}

{%- endblock money_widget -%}


{#{%- block tax_widget -%}#}

    {#<input type="select" name="form[tax]" pattern="^\d*(\.\d{1,2}$)?" step="0.000000001" class="form-control input-sm" {% if value is not empty %}value="{{ value }}" {% endif %}/>#}

{#{%- endblock tax_widget -%}#}




{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select class="form-control input-sm" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{% block file_widget %}
    {% spaceless %}
        {#<td>{% set type = type|default('file') %}#}
            {#<input type="{{ type }}" class="custom-upload" {{ block('widget_attributes') }} />#}
        {#</td>#}


        {#{% set type = type|default('file') %}#}
        {#<div class="file-upload btn btn-info btn-sm">#}
            {#<span>Upload</span>#}
            {#<input type="{{ type }}" class="custom-upload" />#}
        {#</div>#}

        <div ng-controller="FileUploadController">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-info btn-file btn-sm">
                        Browse&hellip; <input type="file" nv-file-select uploader="uploader">
                    </span>
                </span>
                <input type="text" name="widget.filename" class="form-control input-sm" ng-model="widget.filename" readonly>

            </div>


            <span class="help-block" style="font-size: 0.8em;" >
                    Click 'Browse' to select a file
            </span>

            {#<ul>#}
                {#<li style="list-style: none" ng-repeat="item in uploader.queue">#}
                    {#<span ng-bind="item.file.name"></span><br/>#}
                    {#<button style="display:inline;" class="btn btn-success btn-sm" ng-disabled="!uploader.getNotUploadedItems().length" ng-click="item.upload()">upload</button>#}
                {#</li>#}
            {#</ul>#}
        </div>

    {% endspaceless %}
{% endblock file_widget %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set attr = choice.attr %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
         <div class="choice-border">
             {%- for child in form %}
                 <div style="display:block;">
                     {{- form_widget(child) -}}
                     {#<label for="{{ child.vars.id }}">{{ child.vars.label | trans }}</label>#}
                     {{- form_label(child, null, { translation_domain: choice_translation_domain, 'label_attr': {'class': 'custom-choice'}}) -}}
                 </div>
             {% endfor -%}
         </div>
    </div>
{%- endblock choice_widget_expanded -%}

{#{% block checkbox_label %}#}
    {#{% spaceless %}#}

            {#{{- form_label(form, null, { translation_domain: choice_translation_domain, 'label_attr': {'class': 'custom-choice'}}) -}}#}
            {#&#123;&#35;{{ label|trans({}, translation_domain) }}</label>&#35;&#125;#}
    {#{% endspaceless %}#}
{#{% endblock checkbox_label %}#}


{#{% block checkbox_widget %}#}
    {#{% spaceless %}#}
        {#&#123;&#35;<label for="{{ id }}">&#35;&#125;#}
        {#&#123;&#35;<div style="display:block; -webkit-box-shadow: none;">&#35;&#125;#}
        {#<div style="clear:left;">#}
            {#<input type="checkbox"  {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />#}
            {#&#123;&#35;{{- form_label(form, null, { translation_domain: choice_translation_domain, 'label_attr': {'class': 'custom-choice'}}) -}}&#35;&#125;#}
            {#&#123;&#35;{{ label|trans({}, translation_domain) }}</label>&#35;&#125;#}
        {#</div>#}
    {#{% endspaceless %}#}
{#{% endblock checkbox_widget %}#}

{% block column_widget %}
    {% spaceless %}

    {% endspaceless %}
{% endblock column_widget %}