{% extends 'StasSystemBundle::layout.html.twig' %}
{% block body %}
	{% set classes = [] %}
	{% for class in grid.getClasses %}
		{% set classes = classes|merge([class]) %}
	{% endfor %}
	<p class = "system-grid-title">{{ grid.getTitle }}</p>
	<hr/>

	<div ng-controller="GridController" ng-init="loadGridOptions('{{ dataUrl }}')">
        <button type="button" class="system-grid-refresh-button btn btn-sm btn-success" ng-click="loadGridOptions('{{ dataUrl }}')">Refresh Data</button>
        {% if  submitURL is not empty %}
            <button type="button" class="btn" ng-click="submitSelection('{{ submitURL.generate }}', '{{ submitFields }}', '{{ submitURL.getLoader }}')">Submit</button>
        {% endif %}

{#{{ submitFields|ladybug_dump }}#}

        <div
            id="{{ grid.getId }}"
            ui-grid-pagination
            ui-grid-auto-resize
            ui-grid="gridOptions"
            {% if submitURL is not empty %}
                ui-grid-selection
            {% endif %}
            class="{{ classes|join(" ") }}">
            <div class="grid-overlay-msg" ng-hide="!loading">
                <div class="msg">
                    <span>
                        Loading Data...
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </div>
            </div>

            <div class="grid-overlay-msg" ng-show="!loading && !gridOptions.data.length">
                <div class="msg">
                    <span>No Data</span>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
