{% extends 'StasSystemBundle::alone.html.twig' %}
{#{% extends 'StasSystemBundle::layout.html.twig' %}#}
{% block body %}
	{#Get all of the pannels classes#}
	{% set classes = [] %}
	{% for class in panels.getClasses %}
		{% set classes = classes|merge([class]) %}
	{% endfor %}
	<p>{{ panels.getTitle }}</p>
	<div ng-controller="PanelsController">
		<ul id="{{ panels.getId }}" class="{{ classes|join(" ") }}">
			{% for panel in panels.getPanels %}
				{% set panelClasses = [] %}
				{% for panelClass in panel.getClasses %}
					{% set panelClasses = panelClasses|merge([panelClass]) %}
				{% endfor %}
				{#This is the opportunity to click and reload a single panel#}
				<li
					id="{{ panel.getId }}"
					class="{{ panelClasses|join(" ") }}"
					ng-controller="SinglePanelController">

					<div style="float:right" ng-click="loadPanelFromServer('{{ panel.getUrl }}', '{{ panel.getId }}')"><a href="#"><i class="fa fa-refresh"></i></a></div>

					<div ng-init="loadPanelFromServer('{{ panel.getUrl }}', '{{ panel.getId }}')" ng-system-compile="{{ panel.getId }}">
					</div>

					<div id="id_loading_panel_{{ panel.getId }}_spinner" ng-show="is{{ panel.getId }}Loading">
                        <span>
                            Loading...
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}