{% extends 'StasSystemBundle::layout.html.twig' %}
{% block body %}
	{% set classes = [] %}
	{% for class in tabs.getClasses %}
		{% set classes = classes|merge([class]) %}
	{% endfor %}
	<p>{{ tabs.getTitle }}</p>
	<div ng-init="setActiveTab('{{ tabs.getActiveTab.getId }}', '{{ tabs.getId  }}')" ng-controller="TabController" data-active-tab-id="{[{ activeTabIdFor{{ tabs.getId }} }]}" data-tab-set-id={{ tabs.getId }}>
		<ul id="{{ tabs.getId }}" class="{{ classes|join(" ") }}">
			{% for tab in tabs.getTabs %}
				{% set tabClasses = [] %}
				{% for tabClass in tab.getClasses %}
					{% set tabClasses = tabClasses|merge([tabClass]) %}
				{% endfor %}
				<li id="{{ tab.getId }}" ng-class="{active:isActiveTab('{{ tab.getId }}', '{{ tabs.getId  }}')}" class="{{ tabClasses|join(" ") }}" ng-href='#here' ng-click="loadTabFromServer('{{ tab.getUrl }}', '{{ tab.getId }}', '{{ tabs.getId }}')"><a href>{{ tab.Title }}</a></li>
			{% endfor %}
		</ul>
		<div id="id_tabs_{{ tabs.getId }}_content" class="tabs_content" ng-init="loadTabFromServer('{{ tabs.getActiveTab.getUrl }}', '{{ tabs.getActiveTab.getId }}', '{{ tabs.getId }}')" ng-system-compile="{{ tabs.getId }}">
		</div>
		<div id="id_loading_tab_{{ tabs.getId }}_spinner" ng-show="is{{ tabs.getId }}Loading">
			<span>
				Loading Data...
				{#<img height="25" width="50" src="{{ asset('images/loading.gif') }}" class="ajax-loader"/>#}
				<i class="fa fa-spinner fa-spin"></i>
			</span>
		</div>
	</div>
{% endblock %}