{#{% extends 'StasUserBundle::layout.html.twig' %}#}
{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
<div class="login_panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Please sign in</h3>
    </div>
    <div class="panel-body">
    {#<div class="logincontainer">#}
        {#<div class="form-signin">#}
            {#<div class="row">#}
                <div class="">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {#<div class="form-signin-heading">Please login</div>#}

                        <div class="form-group">
                            <input type="text" id="username" class="form-control input-sm" name="_username" placeholder="Username" required="" autofocus="" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control input-sm" name="_password" placeholder="Password" required=""/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="remember-me" id="remember_me" name="_remember_me">
                            <label for="_remember_me">Remember me</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-success btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock fos_user_content %}
