{% extends 'knp_menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block item %}
    {#{{ dump(item) }}#}
    {% import "knp_menu.html.twig" as macros %}
    {% if item.displayed %}

        {%- set attributes = item.attributes %}
        {%- set children = item.children %}


        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- set classes = classes|merge(['menu-item']) %}

        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# building the class of the children #}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}

        {# putting classes together #}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}

        {#{{ dump(item)}}#}
        {%- set attributes = attributes|merge({'ng-class': "{\'current\': currentItem == \'" ~ item.attributes.id ~ "\'}"}) %}
        {#{%- set attributes = attributes|merge({'ng-click': "currentItem = " ~ item.attributes.id}) %}#}

        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {%- set listAttributes = listAttributes|merge({'class': "sub-menu" }) %}
        {#{%- set listAttributes = listAttributes|merge({'class': "dropdown-menu" }) %}#}
        {%- set listAttributes = listAttributes|merge({'ng-show': "showSubMenu"}) %}

        {%- if item.children is not empty %}
            <li ng-controller="SubMenuController" {{ macros.attributes(attributes) }}>
                {{ block('submenuElement') }}
        {%- elseif item.uri is not empty %}
            <li {{ macros.attributes(attributes) }}>
                {{ block('linkElement') }}
        {%- else %}
            <li {{ macros.attributes(attributes) }}>
                {{ block('spanElement') }}
        {%- endif %}
            {# render the list of children#}
            {{ block('list') }}
        </li>

    {% endif %}
{% endblock %}

{% block linkElement %}
    {% import _self as macros %}
    <a href="#"{{ macros.attributes(item.linkAttributes) }} ng-click="menuClick('{{ item.uri }}', '{{ item.attributes.id }}')">
        {% if item.attribute('icon') is not empty  %}
            <i padding-directive level="{{ item.level }}" class="{{ item.attribute('icon') }}"></i>
        {% endif %}
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}
    {% import _self as macros %}
    <span>{{ macros.attributes(item.labelAttributes) }}>
        {% if item.attribute('icon') is not empty  %}
            <i class="{{ item.attribute('icon') }}"></i>
        {% endif %}
        {{ block('label') }}
	</span>
{% endblock %}

{% block submenuElement %}
    {% import _self as macros %}
    {%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set attributes = item.linkAttributes %}
    {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    <div ng-click="toggleSubMenu()">
        <a href="#" {{ macros.attributes(attributes) }}>
            {% if item.attribute('icon') is not empty  %}
                <i padding-directive level="{{ item.level }}" class="{{ item.attribute('icon') }}"></i>
            {% endif %}
            {{ block('label') }}
            {#<b class="caret"></b>#}
            <b class="{[{ arrow }]}"></b>
        </a>
    </div>
{% endblock %}

{% block label %}<span style="margin-left: 10px;">{{ item.label|trans }}</span>{% endblock %}